<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>初学</description>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.hz.sevrlet.hello.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>自动刷新</display-name>
    <servlet-name>RefreshService</servlet-name>
    <servlet-class>com.hz.sevrlet.hello.RefreshService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshService</servlet-name>
    <url-pattern>/RefreshService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>302重定向</description>
    <display-name>Redirect</display-name>
    <servlet-name>Redirect</servlet-name>
    <servlet-class>com.hz.sevrlet.hello.Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/Redirect</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>学习过滤器</display-name>
    <filter-name>simpleLogFilter</filter-name>
    <filter-class>com.hz.sevrlet.study.filter.simpleLogFilter</filter-class>
    <init-param>
      <param-name>testParam</param-name>
      <param-value>菜鸟教程</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>simpleLogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>学习异常handler和处理异常,下面是异常处理</description>
    <display-name>CommonErrorHandler</display-name>
    <servlet-name>CommonErrorHandler</servlet-name>
    <servlet-class>com.hz.servlet.error.CommonErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonErrorHandler</servlet-name>
    <url-pattern>/CommonErrorHandler</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>
          javax.servlet.ServletException
    </exception-type>
    <location>/CommonErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.io.IOException</exception-type>
    <location>/CommonErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/CommonErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/CommonErrorHandler</location>
  </error-page>
  <servlet>
    <description>学习cookie,cookie的设置在过滤器</description>
    <display-name>ReadCookie</display-name>
    <servlet-name>ReadCookie</servlet-name>
    <servlet-class>com.hz.sevrlet.hello.ReadCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookie</servlet-name>
    <url-pattern>/ReadCookie</url-pattern>
  </servlet-mapping>
  <filter>
    <description>设置简单用户信息的session的filter</description>
    <display-name>sessionFilter</display-name>
    <filter-name>sessionFilter</filter-name>
    <filter-class>com.hz.sevrlet.study.filter.sessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>读取简单用户信息的session</description>
    <display-name>ReadUserSession</display-name>
    <servlet-name>ReadUserSession</servlet-name>
    <servlet-class>com.hz.sevrlet.hello.ReadUserSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadUserSession</servlet-name>
    <url-pattern>/ReadUserSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>上传单个文件</description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.hz.sevrlet.hello.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ContentType</param-name>
      <param-value>text/html;charset=UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>template_update_delay</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>default_encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>number_format</param-name>
      <param-value>0.##########</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>freemarker使用，上面是配置</description>
    <display-name>HelloFreeMaker</display-name>
    <servlet-name>HelloFreeMaker</servlet-name>
    <servlet-class>com.hz.sevrlet.hello.HelloFreeMaker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloFreeMaker</servlet-name>
    <url-pattern>/HelloFreeMaker</url-pattern>
  </servlet-mapping>
</web-app>